.details {
    margin-left: 5em;
    margin-top: 2em;
    margin-right: 30em;
    background-color: #c9cccf;
    border-radius: 5px;
    width: 40em;
    height: 100%;
    .item {
        margin-left: 10px;
        padding: 2em;
        &.deaths {
            color: red;
        }
        &.recovered {
            color: green;
        }
    }
}
