#covid19 {
    display: flex;
    #countries-list {
        display: block;
        width: 90%;
        ul {
            height: 650px;
            overflow-y: auto;
            margin-left: 6%;
            padding-left: 0;
            list-style-type: none;
            font-size: 14px;
            li {
                cursor: pointer;
                background-color: #c9cccf;
                color: hsl(0, 0%, 13%);
                display: block;
                padding: 12px;
                border: 1px solid white;
                border-radius: 10px;
                .country-info > span {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
            li:hover {
                background-color: #b8bec4;
            }
            li.active {
                background-color: #a0a6ab;
            }
        }
        #show-next {
            width: 94% !important;
            margin-left: 6% !important;
        }
    }
    .details {
        margin-left: 5em;
        margin-top: 2em;
        background-color: #c9cccf;
        border-radius: 5px;
        width: 40em;
        height: 100%;
        .item {
            margin-left: 10px;
            padding: 2em;
            &.deaths {
                color: red;
            }
            &.recovered {
                color: green;
            }
        }
    }
}
