.head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.list-head {
    font-size: 20px !important;
    margin-left: 2em;
}
.info {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.arrow:hover {
    border: solid grey;
}
.desc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.asc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[type='button'] {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #60666c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
